$ffGlobal: 'Josefin Sans',
sans-serif;
$containerWidth: 1280px;
$pageBackgroundColor: #575757;
$formBackgroundColor: #7e7e7e;
$inputBorder: #27b5f7;
$inputBorder2: #00610d;
$todoItemBackgroundColor: #7e7e7e;
$popUpBackgroundColor: rgba(0, 0, 0, .5);
$popUpContentColor:#7e7e7e;
$popUpTextColor: #fff;
